
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}
.list{
  position:fixed;
  bottom: 20px;
}
.bgList{
  background-color:white;
  color:black;
  padding: 5px;
  border-radius:10px;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  gap: 10px;
 }

